body{
    margin-top: 5%;
}
.login{
    background:linear-gradient(rgb(194, 56, 120),rgb(150, 4, 4));
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 30px;
    color: black;
}
.log{
    background-color: aliceblue;
    width: 400px;
    height: 440px;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px wheat;
}
.log h1{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.log label{
    margin-left: 40px;
    font-weight: 545;
    font-size: 20px;
}
.log input{
    text-align: center;
    margin: 10px;
    margin-left: 50px;
    width: 300px;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 1px black;
    
}
.log button{
    width: 250px;
    height: 35px;
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-left:80px;
    border: 2px solid black;
    border-radius: 20px;

    
}